.featured-product-container {
    border: solid black 3px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-product-container>img {
    width: 150px;
    height: 150px;
}