* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navbar {
  /* display: flex; */
  justify-content: space-between;
  background-color: black;
  color: #fff;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item.cart {
  cursor: pointer;
}


.nav-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.open-cart-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.cart-content {
  margin-bottom: 20px;
}

.cart-title {
  margin-top: 0;
}

.close-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}